In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
user_id = "testid"
user_pw = "mysql1234"
host_addr = "localhost"
db_name = "menupan_main"
db_connection_str = f'mysql+pymysql://{user_id}:{user_pw}@{host_addr}/{db_name}'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [4]:
df = pd.read_csv("../data/restaurants_cleaned_1.csv",index_col=0)
df.head()

,name,category,address,sido,sigu,dongmyun,region_code,coord_x,coord_y,area,extent
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,수정구,3780000,213117.592076,437825.856238,NaN,27.50
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,공도읍,4080000,215021.103199,388727.667964,NaN,82.95
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,대덕면,4080000,219857.937502,388861.268106,NaN,19.34
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,도림동,3180000,191722.709234,445276.999732,NaN,40.00
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,물금읍,5380000,380741.211631,202644.423181,NaN,65.00

In [ ]:
df.to_sql(name='restaurant', con=db_connection, if_exists='append', index=False)