In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
user_id = "testid"
user_pw = "mysql1234"
host_addr = "localhost"
db_name = "menupan_main"
db_connection_str = f'mysql+pymysql://{user_id}:{user_pw}@{host_addr}/{db_name}'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [3]:
df = pd.read_csv("../data/restaurants_cleaned_2.csv",index_col=0)
df.head()

,name,category,address,sido,sigu,sigu2,dongmyun,region_code,coord_x,coord_y,area,extent
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,수정구,신흥동,3780000,213117.592076,437825.856238,NaN,27.50
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,NaN,공도읍,4080000,215021.103199,388727.667964,NaN,82.95
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,NaN,대덕면,4080000,219857.937502,388861.268106,NaN,19.34
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,NaN,도림동,3180000,191722.709234,445276.999732,NaN,40.00
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,NaN,물금읍,5380000,380741.211631,202644.423181,NaN,65.00

In [4]:
df.to_sql(name='restaurant', con=db_connection, if_exists='append', index=False)

688144

In [5]:
df_hh = pd.read_csv("../data/지역별_세대원수별_세대수_2.csv",index_col=0)
df_hh.head()

,addr,sido,sigu,sigu2,dongmyun,total,1p,2p,3p,4p,5p_over
0,전국,NaN,NaN,NaN,NaN,23705814,9724256,5744486,4010553,3250715,975804
1,서울특별시,서울특별시,NaN,NaN,NaN,4446296,1952606,987812,746253,593592,166033
2,서울특별시 종로구,서울특별시,종로구,NaN,NaN,72524,37680,14450,10269,7570,2555
3,서울특별시 종로구 청운효자동,서울특별시,종로구,NaN,청운효자동,5129,1952,1194,991,732,260
4,서울특별시 종로구 사직동,서울특별시,종로구,NaN,사직동,4570,2317,918,663,509,163

In [6]:
df_hh.to_sql(name='household', con=db_connection, if_exists='append', index=False)

3855

In [7]:
df_sn = pd.read_csv("../data/지역별_고령인구현황_2.csv",index_col=0)
df_sn.head()

,addr,sido,sigu,sigu2,dongmyun,total,male,female,over65_total,over65_male,over65_female
0,서울특별시,서울특별시,NaN,NaN,NaN,9428372,4570048,4858324,1658207,734417,923790
1,서울특별시 종로구,서울특별시,종로구,NaN,NaN,141379,68395,72984,27704,12448,15256
2,서울특별시 종로구 청운효자동,서울특별시,종로구,NaN,청운효자동,11628,5347,6281,2137,883,1254
3,서울특별시 종로구 사직동,서울특별시,종로구,NaN,사직동,9087,4038,5049,1787,776,1011
4,서울특별시 종로구 삼청동,서울특별시,종로구,NaN,삼청동,2331,1112,1219,596,264,332

In [8]:
df_sn.to_sql(name='senior', con=db_connection, if_exists='append', index=False)

3871