In [29]:
import pandas as pd
import os
# import xml
import xmltodict

# 1차 전처리

In [3]:
# df_hh = pd.read_csv("../data/일반음식점_인허가_정보_07_24_04_P.csv",encoding='cp949')
# df_hh.shape

In [4]:
# df_hh = df_hh[df_hh.영업상태명 != "폐업"]

In [5]:
# df_hh.shape

In [6]:
# df_hh.to_csv("../data/일반음식점_인허가_정보_영업중.csv")

# 2차 전처리

In [7]:
# df_hh = pd.read_csv("../data/일반음식점_인허가_정보_영업중.csv",index_col=0)
# print(df_hh.shape)
# df_hh.head()

In [8]:
# df_hh.info()

In [9]:
# list_col = [
# # "번호",
# "개방자치단체코드",
# # "영업상태구분코드",
# # "영업상태명",
# # "상세영업상태코드",
# # "상세영업상태명",
# # "소재지전화",
# "소재지면적",
# # "소재지우편번호",
# "소재지전체주소",
# # "도로명전체주소",
# # "도로명우편번호",
# "사업장명",
# "업태구분명",
# "좌표정보(x)",
# "좌표정보(y)",
# "위생업태명",
# # "남성종사자수",
# # "여성종사자수",
# "영업장주변구분명",
# # "등급구분명",
# # "급수시설구분명",
# # "총직원수",
# # "본사직원수",
# # "건물소유구분명",
# "보증액",
# "월세액",
# # "다중이용업소여부",
# "시설총규모",
# # "전통업소지정번호",
# # "전통업소주된음식",
# ]

In [10]:
# df_res = df_hh[list_col]
# # df_res = df_hh.set_index("번호")
# df_res = df_res.dropna(subset=["소재지전체주소","사업장명"]).reset_index(drop=True)
# df_res.head()

In [11]:
# def split_addr(x):
#     addr = x.split()
#     # print(addr)
#     # df = pd.DataFrame(columns=["시도","시구","동읍면"])
#     if addr[0] == "세종특별자치시":
#         return addr[0], None, addr[1]
#     elif addr[0][-1] != "도" and addr[0][-1] != "시":
#         return None, None, None
#     else:
#         return addr[0], addr[1], addr[2]

In [12]:
# str_test = "세종특별자치 고운동 2002"
# split_addr(str_test)

In [13]:
# df_res["시도"],df_res["시구"],df_res["동읍면"] = zip(*df_res["소재지전체주소"].map(split_addr))
# df_res.head()

In [14]:
# df_res = df_res.dropna(subset="시도")
# df_res.shape

In [15]:
# list_col_order = [
# "사업장명",
# "업태구분명",
# "위생업태명",
# "소재지전체주소",
# "시도",
# "시구",
# "동읍면",
# "개방자치단체코드",
# "좌표정보(x)",
# "좌표정보(y)",
# "소재지면적",
# "영업장주변구분명",
# "보증액",
# "월세액",
# "시설총규모",
# ]

# df_res = df_res[list_col_order]
# df_res.head()

In [16]:
# df_res.to_csv("../data/일반음식점_인허가_정보_cleaned.csv")

# 3차 전처리

In [17]:
# df_res = pd.read_csv("../data/일반음식점_인허가_정보_cleaned.csv", index_col=0)
# df_res
# df_res.head()

In [18]:
# df_test = df_res[df_res["업태구분명"] != df_res["위생업태명"]]
# df_test = df_test.dropna(subset="업태구분명")
# df_test.head()

In [19]:
# df_res_0 = df_res.drop("위생업태명",axis=1)
# df_res_0.head()

In [20]:
# df_res_0.to_csv("../data/일반음식점_인허가_정보_cleaned.csv")

# 4차 전처리

In [21]:
# df = pd.read_csv("../data/restaurants_cleaned.csv",index_col=0)
# df.head()

In [22]:
# df = df.drop("소재지면적",axis=1)
# df.head()

In [23]:
# list_col_order = {
# "사업장명":"name",
# "업태구분명":"category",
# "소재지전체주소":"address",
# "시도":"sido",
# "시구":"sigu",
# "동읍면":"dongmyun",
# "개방자치단체코드":"region_code",
# "좌표정보(x)":"coord_x",
# "좌표정보(y)":"coord_y",
# "영업장주변구분명":"area",
# "보증액":"deposit",
# "월세액":"rent",
# "시설총규모":"extent",
# }

In [24]:
# df = df.rename(columns=list_col_order)
# df.head()

In [25]:
# df.to_csv("../data/restaurants_cleaned_0.csv")

In [26]:
# df.info()

In [ ]:
# create table restaurants (
#     -> id BIGINT(20) UNSIGNED NOT NULL AUTO_INCREMENT,
#     -> name VARCHAR(255) NOT NULL,
#     -> category VARCHAR(50),
#     -> address VARCHAR(255),
#     -> sido VARCHAR(50),
#     -> sigu VARCHAR(50),
#     -> dongmyun VARCHAR(50),
#     -> region_code BIGINT(20) UNSIGNED,
#     -> coord_x FLOAT(12,6),
#     -> coord_y FLOAT(12,6),
#     -> area VARCHAR(50),
#     -> extent FLOAT(4,2));

In [27]:
# df = pd.read_csv("../data/restaurants_cleaned_0.csv",index_col=0)
# df.head()

,name,category,address,sido,sigu,dongmyun,region_code,coord_x,coord_y,area,deposit,rent,extent
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,수정구,3780000,213117.592076,437825.856238,NaN,0.0,0.0,27.50
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,공도읍,4080000,215021.103199,388727.667964,NaN,0.0,0.0,82.95
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,대덕면,4080000,219857.937502,388861.268106,NaN,0.0,0.0,19.34
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,도림동,3180000,191722.709234,445276.999732,NaN,0.0,0.0,40.00
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,물금읍,5380000,380741.211631,202644.423181,NaN,0.0,0.0,65.00

In [31]:
# df = df.drop(["deposit","rent"],axis=1)
# df.head()

,name,category,address,sido,sigu,dongmyun,region_code,coord_x,coord_y,area,extent
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,수정구,3780000,213117.592076,437825.856238,NaN,27.50
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,공도읍,4080000,215021.103199,388727.667964,NaN,82.95
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,대덕면,4080000,219857.937502,388861.268106,NaN,19.34
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,도림동,3180000,191722.709234,445276.999732,NaN,40.00
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,물금읍,5380000,380741.211631,202644.423181,NaN,65.00

In [32]:
# df.to_csv("../data/restaurants_cleaned_1.csv")

# 5차 전처리

In [33]:
df = pd.read_csv("../data/restaurants_cleaned_1.csv",index_col=0)
df.head()

,name,category,address,sido,sigu,dongmyun,region_code,coord_x,coord_y,area,extent
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,수정구,3780000,213117.592076,437825.856238,NaN,27.50
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,공도읍,4080000,215021.103199,388727.667964,NaN,82.95
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,대덕면,4080000,219857.937502,388861.268106,NaN,19.34
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,도림동,3180000,191722.709234,445276.999732,NaN,40.00
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,물금읍,5380000,380741.211631,202644.423181,NaN,65.00

In [34]:
def split_addr(x):
    addr = x.split()
    # size = len(addr)
    sido, sigu, sigu2, dongmyun = "", "", "", ""
    for area in addr:
        if dongmyun != "": break

        lw = area[-1]
        if lw == "도":
            if sido == "":
                sido = area
        elif lw == "시":
            if sido == "":
                sido = area
            elif sigu == "":
                sigu = area
            elif sigu2 == "":
                sigu2 = area
        elif lw == "구":
            if sigu == "":
                sigu = area
            elif sigu2 == "":
                sigu2 = area
        elif lw in ["동","읍","면"]:
            if dongmyun == "":
                dongmyun = area
    
    return sido, sigu, sigu2, dongmyun

In [35]:
str_test = "세종특별자치시 고운동 2002"
str_test = "경기도 안산시 상록구 이동"
str_test = "서울특별시 종로구 혜화동"
str_test = "경기도 파주시 문산읍"
str_test = "경기도 용인시 수지구 죽전3동"
split_addr(str_test)

('경기도', '용인시', '수지구', '죽전3동')

In [36]:
df["sido"],df["sigu"],df["sigu2"],df["dongmyun"] = zip(*df["address"].map(split_addr))
df.head()

,name,category,address,sido,sigu,dongmyun,region_code,coord_x,coord_y,area,extent,sigu2
0,해피딜리버리(Happy delivery),한식,경기도 성남시 수정구 신흥동 2562-2 1층,경기도,성남시,신흥동,3780000,213117.592076,437825.856238,NaN,27.50,수정구
1,79대포 안성공도점,호프/통닭,경기도 안성시 공도읍 만정리 815-1 107호,경기도,안성시,공도읍,4080000,215021.103199,388727.667964,NaN,82.95,
2,맛있어2(Masisso2),한식,경기도 안성시 대덕면 내리 691-6 2층 일부,경기도,안성시,대덕면,4080000,219857.937502,388861.268106,NaN,19.34,
3,푸드 딜리버리 영등포점,한식,서울특별시 영등포구 도림동 76-22,서울특별시,영등포구,도림동,3180000,191722.709234,445276.999732,NaN,40.00,
4,수벙샌드위치,기타,경상남도 양산시 물금읍 물금리 878-6,경상남도,양산시,물금읍,5380000,380741.211631,202644.423181,NaN,65.00,

In [ ]:
list_col_order = [
"name",
"category",
"address",
"sido",
"sigu",
"sigu2",
"dongmyun",
"region_code",
"corrd_x",
"coord_y",
"area",
"extent"
]